{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}
{% form_theme inscriptionForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<h1 style="text-align:center">
		Inscription
	</h1>
	{{form_start(inscriptionForm)}}
	{{form_row(inscriptionForm.name, {'label':'Nom de l\'utilisateur','attr':{
    'placeholder':'nom de l\'utilisateur'}})}}
	{{form_row(inscriptionForm.email, {'label':'email de l\'utilisateur','attr':{
    'placeholder':'email de l\'utilisateur'}})}}
	{{form_row(inscriptionForm.password, {'label':'password de l\'utilisateur','attr':{
    'placeholder':'My St0n4 passwORd'}})}}
    {{form_row(inscriptionForm.passwordConfirmation, {'label':'confirmation du mot de passe','attr':{
    'placeholder':'confirmer le mot de passe'}})}}
	<button type="submit" class="btn bnt-success">S'inscrire</button>
	{{form_end(inscriptionForm)}}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

{% endblock %}
